@charset "UTF-8";
.header {
  padding-top: 55px;
  padding-bottom: 55px;
  background-image: url('pokemon/header-bg.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.nav {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: black;
    color: #FFFFFF;
}
.col-1 {
  width: 33.3%;
  padding-top: 200px;
    background-image: url('pokemon/video-games.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.content {
  padding-top: 75px;
  padding-bottom: 75px;
}
.col-2 {
  width: 33.3%;
  padding-top: 200px;
    background-image: url('pokemon/tcg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.col-3 {
    width: 33.3%;
    padding-top: 200px;
    background-image: url('pokemon/pokken.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.footer {
    padding-top: 52px;
    padding-bottom: 52px;
    text-align: center;
    background-color: black;
    background-position: center center;
    clear: both;
    color: #FFFFFF;
}
.content img {
    float: right;
}
.columns {
    clear: both;
}
.content a {
    margin-left: 35px;
    padding: 20px;
    text-align: center;
    background-color: #fe0000;
    display: block;
    width: 250px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}
.content p {
    padding-left: 35px;
}
.footer p {
    margin-top: -10px;
}
.footer img {
    margin-bottom: 45px;
}
body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
ul {
    text-align: center;
}
li {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
}
li a {
    color: #FFFFFF;
}
h1 {
    font-size: 40px;
    padding-left: 35px;
}
.col-1 p , .col-2 p, .col-3 p{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.col-1 a, .col-2 a, .col-3 a {
    color: #000000;
}
.footer a {
    color: #FFFFFF;
}
